Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): update dependency lint-staged to v10.5.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.14.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.33.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: write jest config file in typescript
  .jestrc.json
  .lintstagedrc.js
  jest.config.ts
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

docs: replace http links by https
  README.md
Due: yarn prettier --write, yarn remark

chore(deps): update dependency jest to v26.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency ignore-sync to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @foray1010/eslint-config to v4.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.13.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.33.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup-plugin-dts to v1.4.14
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: lint JSDoc by eslint-plugin-jsdoc
  package.json
  src/index.ts
  src/lib/getSimilarity.ts
  src/lib/matchItemProcessor.ts
  src/lib/normalizeString.ts
  src/lib/resultProcessor.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency ignore-sync to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.33.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update lint-staged config
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Path conditions:
  yarn prettier --write: (((any of: *.{js,ts}) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
