Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

build: use @foray1010/tsconfig
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade @foray1010/tsconfig
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/babel-preset to v5.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.10.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.13.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.9.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @rollup/plugin-babel to v5.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @rollup/plugin-node-resolve to v8.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @rollup/plugin-commonjs to v13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.15.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v10.2.10
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.7.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency rollup to v2.17.0
  .size-limit.json
Due: yarn prettier --write

feat: return different type depends on options.returnType
  .size-limit.json
  package.json
  src/index.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 4.1.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

ci: lower coverage because somehow type-coverage is lower on CI
  package.json
Due: yarn prettier --write, sort-package-json

refactor: improve type coverage
  .size-limit.json
  package.json
  rollup.config.js
  rollup.config.ts
  src/index.ts
  src/lib/fillDefaultOptions.test.ts
  src/lib/fillDefaultOptions.ts
  src/lib/matchItemProcessor.ts
  src/lib/resultProcessor.test.ts
  src/lib/resultProcessor.ts
  src/types.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: clearer rollup config
  rollup.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency lint-staged to v10.2.11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
