Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency @babel/core to v7.18.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use cjs/mjs instead of yml for config files
  .babelrc.cjs
  .eslintrc.cjs
  .eslintrc.yml
  .lintstagedrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  .remarkrc.yml
  jest.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: use readonly types
  .eslintrc.cjs
  package.json
  rollup.config.ts
  src/index.ts
  src/lib/resultProcessor.ts
  src/types.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: use @foray1010/jest-preset
  jest.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update jest to v29
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore!: drop node.js v12 and v17
  .size-limit.json
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  rollup.config.ts
  src/index.ts
  src/lib/matchItemProcessor.ts
  src/types.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): upgrade all dependencies
  .size-limit.json
  package.json
  src/index.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  src/index.ts
  src/lib/resultProcessor.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: use native es modules
  .size-limit.json
  __tests__/integration.test.ts
  package.json
  rollup.config.ts
  src/index.test.ts
  src/index.ts
  src/lib/fillDefaultOptions.test.ts
  src/lib/fillDefaultOptions.ts
  src/lib/getSimilarity.test.ts
  src/lib/matchItemProcessor.test.ts
  src/lib/matchItemProcessor.ts
  src/lib/normalizeString.test.ts
  src/lib/normalizeString.ts
  src/lib/resultProcessor.test.ts
  src/lib/resultProcessor.ts
  src/types.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fix: compatible with typescript node16 module resolution
  package.json
Due: yarn prettier --write, sort-package-json

docs: cleanup changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

refactor: remove unnecessary pinst
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): upgrade all dependencies
  __tests__/integration.test.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency rollup to v3
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  __tests__/integration.test.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fix: use TypeError for unknown returnType/thresholdType errors
  src/errors.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: validate returnType/thresholdType before using
  .size-limit.json
  src/errors.ts
  src/index.test.ts
  src/index.ts
  src/lib/fillDefaultOptions.test.ts
  src/lib/fillDefaultOptions.ts
  src/lib/resultProcessor.test.ts
  src/lib/resultProcessor.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

docs: update codecov link
  README.md
Due: yarn prettier --write, yarn remark

chore!: require node `^16.14.0 || >=18.12.0`
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .eslintrc.cjs
  eslint.config.mjs
  jest.config.mjs
  jest.config.ts
  package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: remove .gitattributes
  .gitattributes
Due: none

chore: update eslint config
  package.json
  src/index.ts
  src/lib/normalizeString.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: move to yarn v3
  .circleci/config.yml
  .gitignore
  .size-limit.json
  .yarnrc.yml
  README.md
  __tests__/integration.test.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

chore: update eslint config path
  .lintstagedrc.mjs
  eslint.config.js
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fixup! chore(deps): update dependency @foray1010/eslint-config to v10.5.0
  rollup.config.ts
  src/index.ts
  src/lib/resultProcessor.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore(deps): update @foray1010/common-presets monorepo (major)
  .prettierrc.cjs
  .prettierrc.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: replace rollup-plugin-terser by @rollup/plugin-terser
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json
