Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(release): 6.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix(types): add mts types declaration file
  package.json
  rollup.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 6.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: require node `^18.12.0 || >=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  rollup.config.ts
  src/lib/normalizeString.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .size-limit.json
  package.json
  rollup.config.ts
  src/lib/normalizeString.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: swapping Husky to prepare rather than postinstall
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: temporarily remove husky as failed to install by npm 10.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build!: drop support for umd build
  .size-limit.json
  package.json
  rollup.config.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

build!: only support conditional exports for entry point
  package.json
Due: yarn prettier --write, sort-package-json

fixup! fix: temporarily remove husky as failed to install by npm 10.4.0
  package.json
Due: yarn prettier --write, sort-package-json

chore(release): 7.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore: run prettier
  CHANGELOG.md
  tsconfig.json
Due: yarn prettier --write, yarn remark

fix: add back main entry point as eslint-plugin-import does not support conditional exports
  package.json
Due: yarn prettier --write, sort-package-json

chore(release): 7.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore: run prettier
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

fix: cannot get types in jest
  package.json
Due: yarn prettier --write, sort-package-json

chore(release): 7.0.2
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

build: do not minify build
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 7.0.3
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(release): 7.0.4
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: update 7.0.3 changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

fix(deps): remove unnecessary dependency on @babel/runtime
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

perf: replace fastest-levenshtein with optimized-fastest-levenshtein (Rust, 6–9× faster)
  package.json
  src/index.ts
  src/lib/getSimilarity.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

perf: replace fastest-levenshtein with optimized-fastest-levenshtein (Rust, 6-9x faster)
  package.json
  src/index.ts
  src/lib/getSimilarity.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json
