Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
'*ignore-sync':
  - 'ignore-sync'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'

chore(deps): update dependency rollup-plugin-dts to v1.4.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build: use @babel/runtime
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v25.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: remove unused tsconfig setting
  tsconfig.json
Due: yarn prettier --write

chore(deps): update dependency @types/ramda to v0.27.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.9.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @rollup/plugin-node-resolve to v8
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup-plugin-dts to v1.4.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.7.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup-plugin-terser to v6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.44.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use type import
  src/index.ts
  src/lib/fillDefaultOptions.ts
  src/lib/matchItemProcessor.ts
  src/lib/normalizeString.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

build: reduce bundle size by disabling unnecessary transpile
  .babelrc.js
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/babel-preset to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: do not use object type as eslint adviced
  src/index.ts
  src/lib/matchItemProcessor.ts
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: enable importsNotUsedAsValues=error in tsconfig
  src/types.ts
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @babel/core to v7.10.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
