Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, ignore-sync, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @size-limit/preset-small-lib to v4.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency size-limit to v4.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2
  package.json
  src/index.test.ts
  src/lib/resultProcessor.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @size-limit/preset-small-lib to v4.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency size-limit to v4.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fixup! fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @foray1010/remark-preset to v3 (#471)
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/ramda to v0.27.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update size-limit monorepo to v4.4.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v25.2.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.{js,ts}) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts}
  yarn remark: any of: *.md
  ignore-sync: any of: *ignore-sync
  sort-package-json: any of: package.json
